{% set content = pimcore_wysiwyg('content') %}

{% if document.getDescription() is empty %}
    {% do pimcore_head_meta().setDescription(content.getData(), 160) %}
{% endif %}

<section class="area-wysiwyg">
    {% pimcoreglossary %}
        {{ content|raw }}
    {% endpimcoreglossary %}
</section>
{% if editmode %}
            {{ pimcore_image('image', {
                'thumbnail': 'cars'
            }) }}
        {% else %}
            {% if not pimcore_image('image').isEmpty() %}
                <img src="{{ pimcore_image('image').getThumbnail('cars') }}" />
            {% endif %}
        {% endif %}