<div class="teaser card custom-standard-card mb-4 shadow-sm">
    <div class="text-decoration-none text-dark">

        {% if cars.image %}
            {{ pimcore_image_thumbnail_html(cars.image, 'cars', { imgAttributes: {class: 'img-fluid'} }) }}
        {% endif %}

        <div class="card-body">
            <h4 class="card-title pricing-card-title text-uppercase">{{ cars.name }}</h4>
            <p class="card-text">
                {{ cars.description | striptags | slice(0, 150) ~ '...' }}
            </p>
        </div>
    </div>
</div>