{% extends "layouts/layout.html.twig" %}

{% block content %}

    <h1>{{ pimcore_input('headline') }}</h1>
    <p>{{ pimcore_wysiwyg('content') }}</p>
    <p>Now it extends from layout</p>

    {{ pimcore_image('image', {
        'thumbnail': 'cars'
    }) }}

{% endblock %}