{% extends "layouts/layout.html.twig" %}

{% block content %}

    <h1>Hello! This is homepage!</h1>
    <p>{{ pimcore_link('cars') }}</p>
    <p>{{ pimcore_link('thumbnail') }}</p>
    <p>{{ pimcore_link('cardata') }}</p>
    <p>{{ pimcore_link('renderlet') }}</p>

{% endblock %}
