{% extends "layouts/layout.html.twig" %}

{% block content %}
    <h1>{{ pimcore_input('headline') }}</h1>
    {{ pimcore_areablock('content', {
            'allowed': ['wysiwyg']
        }) }}
{% endblock %}
